<!DOCTYPE html>
<html>
    <head>
        <link href="https://fonts.googleapis.com/css?family=Zen+Antique&display=swap" rel="stylesheet" />
        <link href="./css/main.css" rel="stylesheet" />
        <title>Document</title>
    </head>
    <body>
        <div class="v1_2">
            <div class="v1_3"></div>
            <span class="v1_4">수험번호</span>
            <span class="v1_5">문항에 따라 배점이 같으니 안심하고 푸세요. </span>
            <div class="v1_6"></div>
            <div class="v1_7"></div>
            <span class="v1_8">매 선택과목마다 문제지의 해당란에 성명과 수험번호를 정확히 쓰시오.</span>
            <span class="v1_9">문해력 영역</span>
            <span class="v1_10">2023 학년도 MZ어휘력고사 문제지 </span>
            <div class="v1_11"></div>
            <span class="v1_12">제 2교시</span>
            <div class="v1_13"></div>
            <div class="v1_14"></div>
            <div class="v1_15"></div>
            <div class="v1_16"></div>
            <span class="v1_17">자신이 선택한 과목의 문제지인지  확인하시오.</span>
            <span class="v1_18">답안지의 필적 확인란에 다음의 문구를 정자로 기재하시오.</span>
            <div class="v1_19"></div>
            <span class="v1_20">MZ 특: 이런거 자세히 안봄</span>
            <span class="v1_21">답안지의 해당란에 성명과 수험번호를 쓰고, 또 수험번호,문형(홀수/짝수), 답을 정확히 표시하시오.</span>
            <div class="v1_22"></div>
            <div class="name"></div>
            <div class="v1_24"></div>
            <div class="name"></div>
            <span class="v1_26">성명</span>
            <span class="v1_27">김잼민</span>
            <span class="v1_28">123-456789</span>
            <div class="v1_29"></div>
            <span class="v1_30">시작</span>
            <div class="v1_31"></div>
            <span class="v1_32">※  시험이 시작되기 전까지 표지를 넘기지 마시오.</span>
            <span class="v1_33">한국MZ평가원</span>
        </div>
    </body>
    </html>